# Gradle
.gradle/
build/
**/build/

# Android Studio
*.iml
.idea/
local.properties
.cxx/
captures/
.externalNativeBuild/

# Kotlin
*.kotlin_module

# OS
.DS_Store
Thumbs.db

# .NET
bin/
obj/
*.user
*.suo

# Logs
*.log
